<a href='https://www.kaggle.com/datasets/wenruliu/adult-income-dataset'>Download Dataset</a>

In this project, we will discuss:
- How to fetch random samples from the Dataset?
- isin
- between
- unique
- dropna
- replace
- duplicated
- drop_duplicates
- astype
- apply
- What is Univariate analysis?
- What is Bivariate analysis?
- Memory Optimization

**1.Display Top 10 Rows of The Dataset**

In [1]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data=pd.read_csv("adult.csv")
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

**2. Check Last 10 Rows of The Dataset**

**3. Find Shape of Our Dataset (Number of Rows And Number of Columns)**

**4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement**

**5. Fetch Random Sample From the Dataset (50%)**

**6.Check Null Values In The Dataset**

**7.Perform Data Cleaning [ Replace '?' with NaN ]**

**8. Drop all The Missing Values**

**9. Check For Duplicate Data and Drop Them**