In [3]:
pip install jupyter_contrib_nbextensions

Collecting jupyter_contrib_nbextensions
  Downloading jupyter_contrib_nbextensions-0.7.0.tar.gz (23.5 MB)
     ---------------------------------------- 0.0/23.5 MB ? eta -:--:--
     - -------------------------------------- 0.8/23.5 MB 5.4 MB/s eta 0:00:05
     --- ------------------------------------ 2.1/23.5 MB 6.7 MB/s eta 0:00:04
     ---- ----------------------------------- 2.9/23.5 MB 5.7 MB/s eta 0:00:04
     ----- ---------------------------------- 3.4/23.5 MB 4.4 MB/s eta 0:00:05
     ------ --------------------------------- 3.7/23.5 MB 4.1 MB/s eta 0:00:05
     ------- -------------------------------- 4.2/23.5 MB 3.4 MB/s eta 0:00:06
     ------- -------------------------------- 4.5/23.5 MB 3.1 MB/s eta 0:00:07
     ------- -------------------------------- 4.5/23.5 MB 3.1 MB/s eta 0:00:07
     -------- ------------------------------- 4.7/23.5 MB 2.8 MB/s eta 0:00:07
     -------- ------------------------------- 5.0/23.5 MB 2.6 MB/s eta 0:00:08
     -------- ------------------------------- 5.2/23.5 MB 2.4 MB/s eta 0:00:08
     --------- ------------------------------ 5.5/23.5 MB 2.3 MB/s eta 0:00:08
     --------- ------------------------------ 5.8/23.5 MB 2.2 MB/s eta 0:00:09
     ---------- ----------------------------- 6.0/23.5 MB 2.1 MB/s eta 0:00:09
     ---------- ----------------------------- 6.3/23.5 MB 2.0 MB/s eta 0:00:09
     ----------- ---------------------------- 6.6/23.5 MB 2.0 MB/s eta 0:00:09
     ----------- ---------------------------- 6.6/23.5 MB 2.0 MB/s eta 0:00:09
     ----------- ---------------------------- 6.8/23.5 MB 1.9 MB/s eta 0:00:09
     ------------ --------------------------- 7.1/23.5 MB 1.8 MB/s eta 0:00:10
     ------------ --------------------------- 7.3/23.5 MB 1.8 MB/s eta 0:00:10
     ------------ --------------------------- 7.6/23.5 MB 1.7 MB/s eta 0:00:10
     ------------- -------------------------- 7.9/23.5 MB 1.7 MB/s eta 0:00:10
     ------------- -------------------------- 8.1/23.5 MB 1.7 MB/s eta 0:00:10
     ------------- -------------------------- 8.1/23.5 MB 1.7 MB/s eta 0:00:10
     -------------- ------------------------- 8.4/23.5 MB 1.6 MB/s eta 0:00:10
     -------------- ------------------------- 8.7/23.5 MB 1.6 MB/s eta 0:00:10
     --------------- ------------------------ 8.9/23.5 MB 1.6 MB/s eta 0:00:10
     --------------- ------------------------ 8.9/23.5 MB 1.6 MB/s eta 0:00:10
     --------------- ------------------------ 9.2/23.5 MB 1.5 MB/s eta 0:00:10
     --------------- ------------------------ 9.2/23.5 MB 1.5 MB/s eta 0:00:10
     ---------------- ----------------------- 9.4/23.5 MB 1.5 MB/s eta 0:00:10
     ---------------- ----------------------- 9.4/23.5 MB 1.5 MB/s eta 0:00:10
     ---------------- ----------------------- 9.4/23.5 MB 1.5 MB/s eta 0:00:10
     ---------------- ----------------------- 9.7/23.5 MB 1.4 MB/s eta 0:00:11
     ---------------- ----------------------- 9.7/23.5 MB 1.4 MB/s eta 0:00:11
     ---------------- ----------------------- 10.0/23.5 MB 1.3 MB/s eta 0:00:11
     ---------------- ----------------------- 10.0/23.5 MB 1.3 MB/s eta 0:00:11
     ----------------- ---------------------- 10.2/23.5 MB 1.3 MB/s eta 0:00:11
     ----------------- ---------------------- 10.5/23.5 MB 1.3 MB/s eta 0:00:11
     ------------------ --------------------- 10.7/23.5 MB 1.3 MB/s eta 0:00:10
     ------------------ --------------------- 11.0/23.5 MB 1.3 MB/s eta 0:00:10
     ------------------- -------------------- 11.3/23.5 MB 1.3 MB/s eta 0:00:10
     ------------------- -------------------- 11.5/23.5 MB 1.3 MB/s eta 0:00:10
     -------------------- ------------------- 11.8/23.5 MB 1.3 MB/s eta 0:00:10
     -------------------- ------------------- 12.1/23.5 MB 1.3 MB/s eta 0:00:10
     --------------------- ------------------ 12.3/23.5 MB 1.3 MB/s eta 0:00:09
     --------------------- ------------------ 12.3/23.5 MB 1.3 MB/s eta 0:00:09
     --------------------- ------------------ 12.6/23.5 MB 1.2 MB/s eta 0:00:09
     --------------------- ------------------ 12.8/23.5 MB 1.2 MB/s eta 0:00:09
     ---------------------- ----------------- 13.1/23.5 MB 1.2 MB/s eta 0:00:09
     ---------------------- ----------------- 13.1/23.5 MB 1.2 MB/s eta 0:00:09
     ---------------------- ----------------- 13.4/23.5 MB 1.2 MB/s eta 0:00:09
     ---------------------- ----------------- 13.4/23.5 MB 1.2 MB/s eta 0:00:09
     ---------------------- ----------------- 13.4/23.5 MB 1.2 MB/s eta 0:00:09
     ----------------------- ---------------- 13.6/23.5 MB 1.2 MB/s eta 0:00:09
     ----------------------- ---------------- 13.6/23.5 MB 1.2 MB/s eta 0:00:09
     ----------------------- ---------------- 13.9/23.5 MB 1.1 MB/s eta 0:00:09
     ----------------------- ---------------- 13.9/23.5 MB 1.1 MB/s eta 0:00:09
     ------------------------ --------------- 14.2/23.5 MB 1.1 MB/s eta 0:00:09
     ------------------------ --------------- 14.2/23.5 MB 1.1 MB/s eta 0:00:09
     ------------------------ --------------- 14.4/23.5 MB 1.1 MB/s eta 0:00:09
     ------------------------- -------------- 14.7/23.5 MB 1.1 MB/s eta 0:00:08
     ------------------------- -------------- 14.7/23.5 MB 1.1 MB/s eta 0:00:08
     ------------------------- -------------- 14.9/23.5 MB 1.1 MB/s eta 0:00:08
     ------------------------- -------------- 15.2/23.5 MB 1.1 MB/s eta 0:00:08
     ------------------------- -------------- 15.2/23.5 MB 1.1 MB/s eta 0:00:08
     -------------------------- ------------- 15.5/23.5 MB 1.1 MB/s eta 0:00:08
     -------------------------- ------------- 15.7/23.5 MB 1.1 MB/s eta 0:00:08
     -------------------------- ------------- 15.7/23.5 MB 1.1 MB/s eta 0:00:08
     -------------------------- ------------- 15.7/23.5 MB 1.1 MB/s eta 0:00:08
     -------------------------- ------------- 15.7/23.5 MB 1.1 MB/s eta 0:00:08
     -------------------------- ------------- 15.7/23.5 MB 1.1 MB/s eta 0:00:08
     --------------------------- ------------ 16.0/23.5 MB 1.0 MB/s eta 0:00:08
     --------------------------- ------------ 16.0/23.5 MB 1.0 MB/s eta 0:00:08
     --------------------------- ------------ 16.3/23.5 MB 1.0 MB/s eta 0:00:08
     --------------------------- ------------ 16.3/23.5 MB 1.0 MB/s eta 0:00:08
     ---------------------------- ----------- 16.5/23.5 MB 1.0 MB/s eta 0:00:07
     ---------------------------- ----------- 16.5/23.5 MB 1.0 MB/s eta 0:00:07
     ---------------------------- ----------- 16.8/23.5 MB 1.0 MB/s eta 0:00:07
     --------------------------- ---------- 17.0/23.5 MB 999.2 kB/s eta 0:00:07
     --------------------------- ---------- 17.0/23.5 MB 999.2 kB/s eta 0:00:07
     ---------------------------- --------- 17.3/23.5 MB 995.4 kB/s eta 0:00:07
     ---------------------------- --------- 17.3/23.5 MB 995.4 kB/s eta 0:00:07
     ---------------------------- --------- 17.6/23.5 MB 987.8 kB/s eta 0:00:06
     ---------------------------- --------- 17.8/23.5 MB 989.0 kB/s eta 0:00:06
     ----------------------------- -------- 18.1/23.5 MB 992.7 kB/s eta 0:00:06
     ----------------------------- -------- 18.4/23.5 MB 996.6 kB/s eta 0:00:06
     ------------------------------- -------- 18.6/23.5 MB 1.0 MB/s eta 0:00:05
     -------------------------------- ------- 18.9/23.5 MB 1.0 MB/s eta 0:00:05
     -------------------------------- ------- 19.1/23.5 MB 1.0 MB/s eta 0:00:05
     --------------------------------- ------ 19.4/23.5 MB 1.0 MB/s eta 0:00:05
     --------------------------------- ------ 19.9/23.5 MB 1.0 MB/s eta 0:00:04
     ---------------------------------- ----- 20.2/23.5 MB 1.0 MB/s eta 0:00:04
     ---------------------------------- ----- 20.4/23.5 MB 1.0 MB/s eta 0:00:03
     ----------------------------------- ---- 21.0/23.5 MB 1.0 MB/s eta 0:00:03
     ------------------------------------ --- 21.2/23.5 MB 1.0 MB/s eta 0:00:03
     ------------------------------------ --- 21.5/23.5 MB 1.0 MB/s eta 0:00:02
     ------------------------------------- -- 21.8/23.5 MB 1.1 MB/s eta 0:00:02
     ------------------------------------- -- 22.3/23.5 MB 1.1 MB/s eta 0:00:02
     -------------------------------------- - 22.5/23.5 MB 1.1 MB/s eta 0:00:01
     -------------------------------------- - 22.8/23.5 MB 1.1 MB/s eta 0:00:01
     ---------------------------------------  23.3/23.5 MB 1.1 MB/s eta 0:00:01
     ---------------------------------------- 23.5/23.5 MB 1.1 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting ipython_genutils (from jupyter_contrib_nbextensions)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Collecting jupyter_contrib_core>=0.3.3 (from jupyter_contrib_nbextensions)
  Downloading jupyter_contrib_core-0.4.2.tar.gz (17 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: jupyter_core in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter_contrib_nbextensions) (5.8.0)
Collecting jupyter_highlight_selected_word>=0.1.1 (from jupyter_contrib_nbextensions)
  Downloading jupyter_highlight_selected_word-0.2.0-py2.py3-none-any.whl.metadata (730 bytes)
Collecting jupyter_nbextensions_configurator>=0.4.0 (from jupyter_contrib_nbextensions)
  Downloading jupyter_nbextensions_configurator-0.6.4-py2.py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: nbconvert>=6.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter_contrib_nbextensions) (7.16.6)
Requirement already satisfied: notebook>=6.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter_contrib_nbextensions) (7.4.4)
Requirement already satisfied: tornado in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter_contrib_nbextensions) (6.5.1)
Requirement already satisfied: traitlets>=4.1 in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter_contrib_nbextensions) (5.14.3)
Requirement already satisfied: lxml in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter_contrib_nbextensions) (6.0.0)
Requirement already satisfied: setuptools in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter_contrib_core>=0.3.3->jupyter_contrib_nbextensions) (80.9.0)
Requirement already satisfied: jupyter-server in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (2.16.0)
Requirement already satisfied: pyyaml in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (6.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (4.13.4)
Requirement already satisfied: bleach!=5.0.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from bleach[css]!=5.0.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (6.2.0)
Requirement already satisfied: defusedxml in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.1.6)
Requirement already satisfied: jupyterlab-pygments in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.1.5)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (3.1.3)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (0.10.2)
Requirement already satisfied: nbformat>=5.7 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (5.10.4)
Requirement already satisfied: packaging in c:\users\prave\appdata\roaming\python\python313\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (25.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (1.5.1)
Requirement already satisfied: pygments>=2.4.1 in c:\users\prave\appdata\roaming\python\python313\site-packages (from nbconvert>=6.0->jupyter_contrib_nbextensions) (2.19.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter_core->jupyter_contrib_nbextensions) (4.3.8)
Requirement already satisfied: pywin32>=300 in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter_core->jupyter_contrib_nbextensions) (310)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (2.27.3)
Requirement already satisfied: jupyterlab<4.5,>=4.4.4 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (4.4.4)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from notebook>=6.0->jupyter_contrib_nbextensions) (0.2.4)
Requirement already satisfied: webencodings in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from bleach[css]!=5.0.0->nbconvert>=6.0->jupyter_contrib_nbextensions) (1.4.0)
Requirement already satisfied: anyio>=3.1.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (4.9.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (25.1.0)
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (8.6.3)
Requirement already satisfied: jupyter-events>=0.11.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (0.12.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (0.5.3)
Requirement already satisfied: overrides>=5.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (0.22.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (2.0.15)
Requirement already satisfied: pyzmq>=24 in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (26.4.0)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab<4.5,>=4.4.4->notebook>=6.0->jupyter_contrib_nbextensions) (2.0.5)
Requirement already satisfied: httpx>=0.25.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab<4.5,>=4.4.4->notebook>=6.0->jupyter_contrib_nbextensions) (0.28.1)
Requirement already satisfied: ipykernel>=6.5.0 in c:\users\prave\appdata\roaming\python\python313\site-packages (from jupyterlab<4.5,>=4.4.4->notebook>=6.0->jupyter_contrib_nbextensions) (6.29.5)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab<4.5,>=4.4.4->notebook>=6.0->jupyter_contrib_nbextensions) (2.2.5)
Requirement already satisfied: babel>=2.10 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (2.17.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (0.12.0)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (4.24.0)
Requirement already satisfied: requests>=2.31 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook>=6.0->jupyter_contrib_nbextensions) (2.32.3)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from nbformat>=5.7->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.21.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->nbconvert>=6.0->jupyter_contrib_nbextensions) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from beautifulsoup4->nbconvert>=6.0->jupyter_contrib_nbextensions) (4.13.2)
Requirement already satisfied: idna>=2.8 in c:\users\prave\appdata\local\programs\python\python313\lib\site-packages (from anyio>=3.1.0->jupyter-server->jupyter_nbextensions_configurator>=0.4.0->jupyter_contrib_nbextensions) (3.7)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
dict1={'Name':['Priyang','Aadhya','Kirshna','Vedant','Parshv','Mittal','Archane'],
        'Marks':[98,89,99,87,90,83,99],
        'Gender':['Male','Female','Female','Male','Male','Female','Female']}

In [4]:
df1=pd.DataFrame(dict1)
df1

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2  Kirshna     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archane     99  Female

**1.Display Top 3 Rows of the dataset**

In [5]:
df1.head(3)

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2  Kirshna     99  Female

**2.Check Last 3 rows of the dataset**

In [6]:
df1.tail(3)

      Name  Marks  Gender
4   Parshv     90    Male
5   Mittal     83  Female
6  Archane     99  Female

**3.Find shape of ouur dataset(No of rows & no of columns)**

In [17]:
df1.shape

(7, 3)

In [18]:
print('No of rows',df1.shape[0],' No.of Columns',df1.shape[1])

No of rows 7  No.of Columns 3

**4.Get info about our dataset like Total Number Rows, Total no of columns, Datatypes of each column and memory requirement**

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

**5.Check null values**

In [20]:
df1.isnull()

    Name  Marks  Gender
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False

In [21]:
df1.isnull().sum()

Name      0
Marks     0
Gender    0
dtype: int64

In [25]:
df1.isnull().sum(axis=1)
# row wise

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [26]:
df1.isnull().sum(axis=0)
# column wise

Name      0
Marks     0
Gender    0
dtype: int64

**6. Get overall statistics about the dataframe**

In [27]:
df1.describe()

           Marks
count   7.000000
mean   92.142857
std     6.491753
min    83.000000
25%    88.000000
50%    90.000000
75%    98.500000
max    99.000000

In [28]:
df1.describe(include='all')

           Name      Marks  Gender
count         7   7.000000       7
unique        7        NaN       2
top     Priyang        NaN  Female
freq          1        NaN       4
mean        NaN  92.142857     NaN
std         NaN   6.491753     NaN
min         NaN  83.000000     NaN
25%         NaN  88.000000     NaN
50%         NaN  90.000000     NaN
75%         NaN  98.500000     NaN
max         NaN  99.000000     NaN

**7.Find unique values from gender column**

In [7]:
df1['Gender'].unique()

array(['Male', 'Female'], dtype=object)

**8.Find the number of unique values from the gender column**

In [8]:
df1['Gender'].nunique()

2

**9.Display count of unique values in Gender column**

In [9]:
df1['Gender'].value_counts()

Gender
Female    4
Male      3
Name: count, dtype: int64

**10.Find total no of students having marks b/w 90 to 100(inclusive) ussing between method**

In [10]:
df1['Marks']>=90

0     True
1    False
2     True
3    False
4     True
5    False
6     True
Name: Marks, dtype: bool

In [11]:
df1[df1['Marks']>=90]

      Name  Marks  Gender
0  Priyang     98    Male
2  Kirshna     99  Female
4   Parshv     90    Male
6  Archane     99  Female

In [13]:
(df1['Marks']>=90) & (df1['Marks']<=100)

0     True
1    False
2     True
3    False
4     True
5    False
6     True
Name: Marks, dtype: bool

In [14]:
df1[(df1['Marks']>=90) & (df1['Marks']<=100)]

      Name  Marks  Gender
0  Priyang     98    Male
2  Kirshna     99  Female
4   Parshv     90    Male
6  Archane     99  Female

In [15]:
len(df1[(df1['Marks']>=90) & (df1['Marks']<=100)])

4

In [17]:
sum(df1['Marks'].between(90,100))

4

**11.Find Average Marks**

In [25]:
df1['Marks'].mean()

np.float64(92.14285714285714)

In [22]:
df1['Marks'].min()

np.int64(83)

In [23]:
df1['Marks'].max()

np.int64(99)

**12.Apply Method**

In [32]:
def marks(x):
    return x/2

In [33]:
df1['Marks'].apply(marks)

0    49.0
1    44.5
2    49.5
3    43.5
4    45.0
5    41.5
6    49.5
Name: Marks, dtype: float64

In [34]:
df1['Half_marks']=df1['Marks'].apply(marks)
df1

      Name  Marks  Gender  Half_marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2  Kirshna     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archane     99  Female        49.5

In [35]:
df1['Marks'].apply(lambda x:x/2)

0    49.0
1    44.5
2    49.5
3    43.5
4    45.0
5    41.5
6    49.5
Name: Marks, dtype: float64

In [36]:
df1['Name'].apply(len)

0    7
1    6
2    7
3    6
4    6
5    6
6    7
Name: Name, dtype: int64

**13.Map function**

In [37]:
df1

      Name  Marks  Gender  Half_marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2  Kirshna     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archane     99  Female        49.5

In [49]:
df1['Male_Female']=df1['Gender'].map({'Male':1,'Female':0})
df1

      Name  Marks  Gender  Half_marks  Male_Female
0  Priyang     98    Male        49.0            1
1   Aadhya     89  Female        44.5            0
2  Kirshna     99  Female        49.5            0
3   Vedant     87    Male        43.5            1
4   Parshv     90    Male        45.0            1
5   Mittal     83  Female        41.5            0
6  Archane     99  Female        49.5            0

**14.Drop the columns**

In [50]:
df1.drop(['Male_Female','Half_marks'],axis=1,inplace=True)

In [51]:
df1

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2  Kirshna     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archane     99  Female

**15.Print Name of the columns**

In [52]:
df1.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

In [53]:
df1.index

RangeIndex(start=0, stop=7, step=1)

**16.sort datas by marks**

In [54]:
df1.sort_values(by='Marks',ascending=False)

      Name  Marks  Gender
2  Kirshna     99  Female
6  Archane     99  Female
0  Priyang     98    Male
4   Parshv     90    Male
1   Aadhya     89  Female
3   Vedant     87    Male
5   Mittal     83  Female

In [55]:
df1.sort_values(by=['Marks','Gender'],ascending=False)

      Name  Marks  Gender
2  Kirshna     99  Female
6  Archane     99  Female
0  Priyang     98    Male
4   Parshv     90    Male
1   Aadhya     89  Female
3   Vedant     87    Male
5   Mittal     83  Female

**17.Display Name & Marks of the Female Students**

In [57]:
df1['Gender']=='Female'

0    False
1     True
2     True
3    False
4    False
5     True
6     True
Name: Gender, dtype: bool

In [58]:
df1[df1['Gender']=='Female']

      Name  Marks  Gender
1   Aadhya     89  Female
2  Kirshna     99  Female
5   Mittal     83  Female
6  Archane     99  Female

In [59]:
df1[df1['Gender']=='Female'][['Name','Marks']]

      Name  Marks
1   Aadhya     89
2  Kirshna     99
5   Mittal     83
6  Archane     99

In [60]:
# by is in method
df1['Gender'].isin(['Female'])

0    False
1     True
2     True
3    False
4    False
5     True
6     True
Name: Gender, dtype: bool

In [62]:
df1[df1['Gender'].isin(['Female'])][['Name','Marks']]

      Name  Marks
1   Aadhya     89
2  Kirshna     99
5   Mittal     83
6  Archane     99